body {
  margin: 0;
  background: #FFFFFF;
  font-family: 'Work Sans', sans-sans-serif;
  font-weight: 400;
}

.container {
  width: 90%;
  margin: 10 auto;
}

header {
  background: grey;
  padding-bottom: 10px;
  padding-left: 25px;
  padding-top: 10px;
}

header::after {
  content: '';
  display: table;
  clear: both;
}

footer {
  background: #ffd966;
  position:fixed;
   left:0px;
   bottom:0px;
   height: 40px;
   width:100%;
}

.logo {
  float: left;
  padding-top: 25px 25;
}

nav {
  float: right;
}

nav ul {
  margin: 0;
  padding: 0;
  padding-top: 10px;
  list-style: none;
}

nav li {
  display: inline-block;
  margin-left: 70px;
  padding-top: 23px;

  position: relative;
}

nav a {
  color: #000;
  text-decoration: none;
  text-transform: uppercase;
}

nav a:hover {
  color: #000;
}

nav a::before {
  content:'';
  display: block;
  height: 15px;
  width: 100%;
  background-color: #444;

  position: absolute;
  top: 0;
  width: 0%;

  transition: all ease-in-out 250ms;
}

nav a:hover::before {
  width: 100%
}

h1 {
  margin-left: 25px;
}

h4 {
  margin-left: 25px;
}

p {
  margin-left: 25px;
}

li {
  margin-left: 25px;
}

.audiospacing {
  margin-left: 25px;
}
