body {
  margin: 0;
  background: #FFFFFF;
  font-family: 'Work Sans', sans-sans-serif;
  font-weight: 400;
}

.container {
  width: 90%;
  margin: 10 auto;
}

.logo {
  float: left;
  padding-top: 25px 25;
}

header {
  background: grey;
  padding-bottom: 5px;
  padding-left: 25px;
  padding-top: 5px;
}

header::after {
  content: '';
  display: table;
  clear: both;
}

nav.menu {
  float: right;
}

nav.menu ul {
  margin: 0;
  padding: 0;
  padding-top: 10px;
  list-style: none;
}

nav.menu li {
  display: inline-block;
  margin-left: 30px;
  padding-top: 23px;

  position: relative;
}

nav.menu a {
  color: #000;
  text-decoration: none;
  text-transform: uppercase;
}

nav.menu a:hover {
  color: #000;
}

nav.menu a::before {
  content:'';
  display: block;
  height: 5px;
  width: 100%;
  background-color: #444;

  position: absolute;
  top: 0;
  width: 0%;

  transition: all ease-in-out 250ms;
}

nav.menu a:hover::before {
  width: 100%
}

footer {
  background: #ffd966;
  position:fixed;
  left:0px;
  bottom:0px;
  height: 50px;
  width:100%;
}

nav.footer_links {
  float: right;
  padding-right: 15px;
}

nav.footer_links ul {
  list-style: none;
}

nav.footer_links a {
     text-decoration:none;
   }

nav.footer_links li {
  display: inline-block;
  margin-right: 2px;
  margin-top: 10px;
  margin-bottom: 10px;
  position: relative;

}

h1 {
  margin-left: 25px;
}

h4 {
  margin-left: 25px;
}

p {
  margin-left: 25px;
}

li {
  margin-left: 25px;
}

.audiospacing {
  margin-left: 25px;
}

.logintext {
  margin: 0;
  padding: 0;
  background-image: url(../assets/site_background.png);
  background-position: center;
  background-size: auto;
  font-family: sans-serif;
}
.loginbox {
  width: 320px;
  height: 420px;
  background: #000;
  color: #fff;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
}

.avatar {
  width: 125px;
  height: 125px;
  color: red;
  border-radius: 50%;
  position: relative;
  top: -50%;
  left: calc(50%)
}

h1 {
  margin: 0;
  padding: 0 0 20px;
  text-align: center;
  font-size: 22px;
}
.loginbox p {
  margin: 0;
  padding: 0;
  font-weight: bold;
}

.loginbox input {
  width: 100%;
  margin-bottom: 20px;
}
.loginbox input[type="text"], input[type="password"] {
  border: none;
  border-bottom: : 1px solid #fff;
  background: transparent;
  outline: none;
  height: 40px;
  color: #fff;
  font: 16px;
}
.loginbox input[type="submit"] {
  border: none;
  outline: none;
  height: 40px;
  background: fb2525;
  color: #fff;
  font-size: 18px;
  border-radius: 20px;
}
.loginbox input[type="submit"]: hover {
  curser: pointer;
  background: #ffc107;
  color: #000;
}

.loginbox a {
  text-decoration: none;
  font-size: 12px;
  line-height: 20px;
  color: darkgrey;
}

.loginbox a:hover {
  color: ffc107;
}
