body {
  margin: 0;
  background: #FFFFFF;
  font-family: 'Work Sans', sans-sans-serif;
  font-weight: 400;
}

.container {
  width: 90%;
  margin: 10 auto;
}

.logo {
  float: left;
  padding-top: 25px 25;
}

header {
  background: grey;
  padding-bottom: 10px;
  padding-left: 25px;
  padding-top: 10px;
}

header::after {
  content: '';
  display: table;
  clear: both;
}

nav.menu {
  float: right;
}

nav.menu ul {
  margin: 0;
  padding: 0;
  padding-top: 10px;
  list-style: none;
}

nav.menu li {
  display: inline-block;
  margin-left: 70px;
  padding-top: 23px;

  position: relative;
}

nav.menu a {
  color: #000;
  text-decoration: none;
  text-transform: uppercase;
}

nav.menu a:hover {
  color: #000;
}

nav.menu a::before {
  content:'';
  display: block;
  height: 5px;
  width: 100%;
  background-color: #444;

  position: absolute;
  top: 0;
  width: 0%;

  transition: all ease-in-out 250ms;
}

nav.menu a:hover::before {
  width: 100%
}

footer {
  background: #ffd966;
  position:fixed;
  left:0px;
  bottom:0px;
  height: 40px;
  width:100%;
}

nav.footer_links {
  float: right;
}

nav.footer_links ul {
  margin: 0;
  padding: 0;
  padding-bottom: 10px;
  list-style: none;
}

nav.footer_links a {
     text-decoration:none;
   }

nav.footer_links li {
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 10px;
  position: relative;

}

h1 {
  margin-left: 25px;
}

h4 {
  margin-left: 25px;
}

p {
  margin-left: 25px;
}

li {
  margin-left: 25px;
}

.audiospacing {
  margin-left: 25px;
}
