<!DOCTYPE html>
<html lang="en">

<head>
  <link href="https://fonts.googleapis.com/css?family=Work+Sans:400,600">
  <link href="../styles/styles.css" rel="stylesheet" type="text/css">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
</head>

<footer>
  <div>
    <nav class="footer">
      <ul>
        <li><a href="https://www.facebook.com" target="_blank"><img src=../images/facebook_icon.png alt="facebook link" width="30" height="30"></li>
        <li><a href="https://www.instagram.com" target="_blank"><img src=../images/instagram_icon.png alt="instagram link" width="30" height="30"></li>
        <li><a href="https://www.twitter.com" target="_blank"><img src=../images/twitter_icon.png alt="twitter link" width="30" height="30"></li>
        <li><a href="https://www.youtube.com" target="_blank"><img src=../images/youtube_icon.png alt="youtube link" width="30" height="30"></li>
        <li><a href="https://www.reddit.com" target="_blank"><img src=../images/reddit_icon.png alt="reddit link" width="30" height="30"></li>
      </ul>
</footer>

</html>
